<br/><br/><br/>

<div class="news_feed">

<h2>
<a id="feed_icon" href="{{ feed_url }}">
<img src="/soc/content/images/feed.gif"/></a>
<a class="">Recent Updates:</a>
</h2>

<div class="inner">
{% for item in feed_items %}
<div class="entry">
<div class="title">
<a href="{{ item.linktoEntity }}" >{{ item.sender.title }}</a>
 was {{ item.update_type }} by {{ item.user.name }}
</div>
<div class="time">{{ item.created|timesince }} ago</div>

{# additional information <div class="snippet"></div> #}
</div>
{% endfor %}
</div>


</div>

{% block scripts %} 
 <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ feed_url }}"/>
{{ block.super }} 
{% endblock %}









