
<div class="news_feed">
<script type="text/javascript">
$(function(){

$('img#subscribe').click(function(){

if ($(this).hasClass('subscribed')){
$(this).attr('src', "/soc/content/images/watched_n.gif"); 
}else{
$(this).attr('src', "/soc/content/images/watched_y.gif"); 	
}

$(this).toggleClass('subscribed');

var subscribe_status = $(this).hasClass('subscribed');

$.ajax({
  type: "GET", 
  url: '/ajax/news_feed/edit_subscription',
  datatype: "json",
  data:
  {
      entity_key: "{{ entity_key }}",
      subscribe: subscribe_status
  },
  error: function() { return false; },
  success: function(response_html) {
   },
  complete: function(XMLHttpRequest, textStatus){
  }

  });
	
});


});
</script>
<h2>
{% if subscribed %}
<img class="subscribed" id="subscribe" src="/soc/content/images/watched_y.gif"/></a>
{% else %}
<img id="subscribe" src="/soc/content/images/watched_n.gif"/></a>
{% endif %}
<a id="feed_icon" href="{{ feed_url }}">
<img src="/soc/content/images/feed.gif"/></a>
<a class="">Recent Updates:</a>
</h2>

<div class="inner">
{% for feed_item in feed_items %}
<div class="entry">
<div class="title">
<a href="{{ feed_item.link }}" >{{ feed_item.item.sender.title }}</a>
 was {{ feed_item.item.update_type }} 
 {% if feed_item.item.user %}by  {{ feed_item.item.user.name }}{% endif %}
</div>
<div class="time">{{ feed_item.item.created|timesince }} ago</div>

{# additional information <div class="snippet"></div> #}
</div>
{% endfor %}
</div>


</div>

{% block scripts %} 
 <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ feed_url }}"/>
{{ block.super }} 
{% endblock %}









